[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate-next"]
	path = lib/solmate-next
	url = https://github.com/transmissions11/solmate-next
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/libcompound"]
	path = lib/libcompound
	url = https://github.com/transmissions11/libcompound
