[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/solmate-next"]
	path = lib/solmate-next
	url = https://github.com/transmissions11/solmate-next
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
